.header {
  margin-top: 30px;

  &__links {
    margin-left: 350px;
    li {
      list-style: none;
      margin-left: 40px;
      a {
        min-width: 100px;
        text-decoration: none;
        color: #1f1534;
        font-size: 18px;
        opacity: 0.5;
        transition: opacity 0.3s ease;
        &:hover {
          opacity: 1;
          font-weight: bold;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-top: 0px;

    &__links {
      margin-left: 30px;
      li {
        margin: 0;
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .header__links {
    margin-left: 10px;
  }
}
